@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap');

.wise{
  font-size: 30px;
  color:#BAA193;
}
.goat{
  font-size: 70px;
  color: #72005F;
}

.wise-goat{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  display: block;
  position:relative;
  left: 20px;
  top:10px;
  margin-bottom: 40px
}

.background{
  height: 500px;
  width: 940px;
  background-color: #ece3e0;
	position: relative;
	margin: auto;
}

a{
  text-decoration: none; 
}
img{
  display: inline-block;
  border-radius: 15px;
}

.quote-author{
  display: inline-block;
  vertical-align:top;
  position: absolute;
  margin: 0 auto; 
  width: 400px;
  top: 50%;
  left: 68%;
  transform: translate(-50%, -50%);
}


#author{
  position: relative;
  font-family:'Roboto', sans-serif;
  color: #9a7a6e;
  font-size: 40px;
  text-align: end;
}

#quote{
  font-family: 'Roboto', sans-serif;
  color: #72005F;
  font-size: 40px;
  font-weight: 500;
  display: inline-block;
}
